﻿<meta charset="utf-8" />
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<link rel="apple-touch-icon" sizes="57x57" href="~/Content/favicon/apple-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="~/Content/favicon/apple-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="~/Content/favicon/apple-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="~/Content/favicon/apple-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="~/Content/favicon/apple-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="~/Content/favicon/apple-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="~/Content/favicon/apple-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="~/Content/favicon/apple-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="~/Content/favicon/apple-icon-180x180.png" />
<link rel="icon" type="image/png" sizes="192x192" href="~/Content/favicon/android-icon-192x192.png" />
<link rel="icon" type="image/png" sizes="32x32" href="~/Content/favicon/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="96x96" href="~/Content/favicon/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="16x16" href="~/Content/favicon/favicon-16x16.png" />
<link rel="manifest" href="~/Content/favicon/manifest.json" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="~/Content/favicon/ms-icon-144x144.png" />
<meta name="theme-color" content="#ffffff" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<!--[if lte IE 9]>
	<script src="~/Scripts/vendor/html5shiv/dist/html5shiv.min.js"></script>
	<script src="~/Scripts/vendor/respond.js/dest/respond.min.js"></script>
<![endif]-->
