/* You can add global styles to this file, and also import other style files */
.table>thead>tr>th{
    background: #EEE;
}
.plus{
    margin-right: 5px;
    margin-left: 10px;
}

.back a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 23px;
    background: #ff6300;
    font-size: 12px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    border-radius: 10px;
  }
  
  .back a:hover {
    color: #ff6300;
    background: #211b19;
  }
