<div class="container">
    <h1 class="form-heading">login Form</h1>
    <div class="login-form">
    <div class="main-div">
        <div class="panel">
       <h2>Admin Login</h2>
       <p>Please enter your email and password</p>
       </div>
        <form id="Login" [formGroup]="formGroup">
            <div class="form-group">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" formControlName="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="Password">
            </div>
            <div class="forgot">
            <a href="reset.html">Forgot password?</a>
            </div>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Login</button>
    
        </form>
        </div>
    <p class="botto-text"> Beauty login</p>
    </div></div>
    
    