<nav class="navbar navbar-expand-md navbar-inverse fixed-top">
    <div> 
        <a href="/"><img class="logo" src="https://flaticons.net/gd/makefg.php?i=icons/Miscellaneous/Gift.png&r=255&g=255&b=255" height="50" width="50" /><h1 class="text-left">{{ title }}</h1></a>
             
        <div class="links">
                <ul class="nav navbar-nav">
                    <li><a (click)=" getDetailsNav( 'none' , 'all' )">Home</a></li>
                    <li><a (click)="getDetailsNav( 'none' , 'electronics' )">Electronics</a></li>
                    <li><a (click)="getDetailsNav( 'none' , 'home' )">Home</a></li>
                    <li><a (click)="getDetailsNav( 'none' , 'accesories' )">Accesories</a></li>
                </ul> 
            </div>
    </div>

  
        
    <div *ngIf="loged; else loggedOut"> 
            <h4 class="name-label">Welcome {{ loged }}</h4>
            <a  *ngIf="admin" href="{{serverUrl}}/Customers/admin" class="btn btn-info admin-button" >
                <span class="">Go to admin page</span> 
            </a>
            <a class="login" (click)="logOff()"><img src="https://www.confidentcontracts.com/cache/image-full-83-8795a4a12aa745a0852058bd5fc47701.png" height="50" width="50"/></a>
            <span class="logout-label">Logout</span>
    </div>

    <ng-template #loggedOut>
            <a class="login" href= "/login"><img src="https://www.confidentcontracts.com/cache/image-full-83-8795a4a12aa745a0852058bd5fc47701.png" height="50" width="50"/></a>
            <span class="login-label">Login</span>
    </ng-template>

    <br>

    <div> 
        <a href="/cart" class="btn btn-info btn-lg cart-button" ><span>( {{totalCart}} )  </span>
            <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
        </a>
        
     </div>

    <div class="row"  *ngIf="isCart != true">
            <div class="col-xs-2 itemsPerPage">
                <select  name="itemsPerPage" #itemsPerPageElement on-change="changeNumber()" value="{{this.itemsPerPage}}">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                </select> 
            </div>
           
        <!-- <div class="col-xs-2"></div> -->
        <div class="col-md-8">
          <div class="input-group container-1" >
            <span class="input-group-addon">
                <select id="category" #categoryinput>
                <option value="all">All</option>
                <option value="electronics">Electronics</option>
                <option value="home">Home</option>
                <option value="accesories">Accesories</option>
                </select>
            </span>

                <input type="text"  id="search" placeholder="    Search..." #searchinput>
                <span class="input-group-btn">
                    <button class="icon" type="submit" (click)="getDetails( searchinput , categoryinput )"><span class="glyphicon glyphicon-search"></span></button>
                </span>
          </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    
    
    
</nav>
