h1{
    color: azure;
    padding-top: 15px;
    padding-left: 100px;
}

nav{
  height: 200px;
}

a{
  cursor: pointer;
}

.login {
    background-color: #222;
    position:absolute;
    top:10px;
    right:5%;
}

.cart-button{
    float: right;
    margin-right: 1%;
    height: 50px;
    width: 12%;
}

.admin-button {
    position:absolute;
    top: 45px;
    right:24%;
}

.logo {
    float: left;
    margin-left: 2%;
}

.links {
  margin-left: 2%;
  position: absolute;
  top: 30px;
  left: 15%;
}

.logout-label {
    position:absolute;
    top: 65px;
    right: 5.25%;
    color: aliceblue;
}

.login-label {
    position:absolute;
    top: 65px;
    right: 5.4%;
    color: aliceblue;
}

.name-label {
    position:absolute;
    top: 10px;
    right:24%;
    color: aliceblue;
}

.container-1{
  left: 120px;
}

.itemsPerPage{
  height: 50px;
  width: 85px;
  background: #eff7ff;
  border: none;
  left: 120px;
  border-right: 2px solid gray;
  font-size: 20px;
  /* float: left; */
  color: #63717f;
  /* padding-left: 10px; */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 2%;
  z-index: 9999999999;


  /* height: 52px;
  width: 80px;
  left: 60px;
  background: #eff7ff;
border: none;
border-right: 2px solid gray;
font-size: 20px;
color: #63717f;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-left: 2%; */
}

.container-1 select#category{
height: 50px;
background: #eff7ff;
border: none;
border-right: 2px solid gray;
font-size: 20px;
color: #63717f;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px 0px 0px 5px;
margin-left: 2%;
}

.container-1 input#search{
width: 100%;
height: 52px;
background: #eff7ff;
border: none;
font-size: 20px;
float: left;
color: #63717f;
padding-left: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 0px 5px 5px 0px;
/* margin-left: 2%; */
}




  .container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }

  .container-1:hover button.icon, .container-1:active button.icon, .container-1:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
  }
 
  .container-1:hover button.icon:hover{
    /* background: gray; */
    background: #211b19;
  }

  .glyphicon-search{
    color: #eff7ff;
    }

    .container-1:hover .glyphicon-search:hover{
    color: #ff6300
    }

  .container-1 button.icon{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
   
    border: none;
    /* background: #232833; */
    color: #fff;
    background-color: #5bc0de;
    height: 52px;
    width: 51px;
    color: #4f5b66;
    opacity: 0;
    font-size: 10pt;
   
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
  }



  select {
    background: transparent;
    border: none;
    padding: 6px 12px;
  }
  button {
    padding: 6px 12px;
    background: transparent;
    border: none;
  }
  .input-group-addon {
    padding: 0!important;
  }