div.thankyou {
    text-align: center;
}

a.btn-sm {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 23px;
    background: #ff6300;
    font-size: 18px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

a.btn-sm:hover {
    color: #ff6300;
    background: #211b19;
}