<div class="jumbotron text-xs-center thankyou" >
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Please check your email</strong> to download your bill.</p>
  <hr>
  <p>
    Having trouble? <a href="">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-sm" href="/" role="button">Continue to homepage</a>
  </p>
</div>