<div class="back">
	<a href="/">< Back</a>
</div>
<hr/>
<div *ngIf="admin">
<div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Manage <b>Products</b></h2>
					</div>
					<div class="col-sm-6">
						<a  href='#addModal' class="btn btn-success" data-toggle="modal"><i class="glyphicon glyphicon-plus-sign"></i> <span>Add New Product</span></a>						
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
						<th>Details</th>
                        <th>Category</th>
                        <th>Stock</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let list of allProducts">
                        <td>{{list.Name}}</td>
                        <td>{{list.Price | currency}}</td>
						<td>{{list.Details}}</td>
                        <td>{{list.Category}}</td>
                        <td>{{list.Stock}}</td>
                        <td>
                            <a  class="edit" data-toggle="modal"><i class="glyphicon glyphicon-edit" data-toggle="tooltip" title="Edit" (click)="getpopupEdit(list)"></i></a>
							<a  class="delete" data-toggle="modal"><i class="glyphicon glyphicon-remove-circle" data-toggle="tooltip" title="Delete" (click)="getpopupRemove(list)"></i></a>
						</td>
                    </tr>
                </tbody>
			</table>

        </div>
	</div>
</div>
	
	<!-- Add Modal HTML -->
	
<div id="addModal" class="modal fade">
		<div class="modal-dialog">
		  <div class="modal-content">
			<form action="{{serverUrl}}/Products/add" method="POST" [formGroup]="formGroup" (validSubmit)="onSubmit()">
			  <div class="modal-header">						
				<h4 class="modal-title">Add Product</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			  </div>
			  <div class="modal-body">					
					<div class="form-group">
						<label class="control-label">Name</label>
						<input type="text" class="form-control" name="Name" formControlName="Name" required>
						<span style="color: red;">	<bfv-messages></bfv-messages></span>
					</div>
					<div class="form-group">
						<label class="control-label">Price</label>
						<input type="number" min="0" class="form-control" name="Price" formControlName="Price" required>
						<span style="color: red;">	<bfv-messages></bfv-messages></span>
					</div>
					<div class="form-group">
						<label class="control-label">Details</label>
						<textarea class="form-control" name="Details" formControlName="Details" required></textarea>
						<span style="color: red;">	<bfv-messages></bfv-messages></span>
					</div>
					<!-- <div class="form-group">
						<label class="control-label">ImageUrl</label>
						<input type="text" class="form-control" name="ImageUrl" formControlName="ImageUrl" required>
						<span style="color: red;">	<bfv-messages></bfv-messages></span>
					</div> -->
					
					<div class="form-group">
						<label class="control-label">Stock</label>
						<input type="number" class="form-control" min="0" name="Stock" formControlName="Stock" required>
						<span style="color: red;">	<bfv-messages></bfv-messages></span>
					</div>
					
					<div class="form-group">
							<label>Category</label>
							<select class="form-control" name="Category" formControlName="Category">
									<option value="electronics">Electronics</option>
									<option value="home">Home</option>
									<option value="accesories">Accesories</option>
							</select>
					</div>	
					
						<!-- Imagen upload -->
					<div class="form-group">
						<div class="btn btn-success form-control">
								<label class="fileContainer"> {{nameFile}}
								<input type="file" id="validateCustomFile" accept="image/*" (change)="selectedFile($event)">
							</label>
						</div>
				</div>

				<div class="form-group">
					<button class="btn btn-success form-control" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
				</div>

				<div class="progress">
						<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" attr.arial-valuenow="test" arial-valuemn="0" arial-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
							{{progress.percentage}}%
						</div>
				</div>

				<div class="form-group">
						<label class="control-label">ImageUrl</label>
						<input type="text" class="form-control" name="ImageUrl" formControlName="ImageUrl" value="{{urlDocument}}">
				</div>

			</div>

			<div class="modal-footer">
			<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
			<input type="submit" class="btn btn-success" value="Add">
			</div>
			
		</form>
		</div>
	</div>
	</div>
		
		
	  
	<app-edit [editList] = "selectedEditProduct"></app-edit>
	<app-remove [removeList] = "selectedRemoveProduct"></app-remove>
	