<div class="back">
   <a href="/">< Back</a>
</div>
<hr/>
<table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <!-- <th>ID</th> -->
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th colspan="2" class="text-center">Quantity</th>
            <th class="text-center">Seller limit</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of products">
              <!-- <td>{{list.Id}}</td> -->
              <td><img src="data:image/png;base64,{{list.ImageUrl}}" class="img-thumbnail" style="height:100px;" /></td>
              <td>{{list.Name}}</td>
              <td>{{list.Price | currency}}</td>

              <td [ngClass]="{'justify-content-end': true, 'text-right': true }">
                  <div *ngIf="limitAdd( list.RealQty , list.Stock )  else notShowPlus">
                    <button class="btn btn-success btn-xs plus" (click)="add(list.Id)"><i class="glyphicon glyphicon-plus"></i></button>
                    <div *ngIf="list.RealQty < list.Stock  else notShowStock">
                        <b style="color:red;"> {{list.Stock}}</b>
                      </div>
                      <ng-template #notShowStock>
                          <b > {{list.Stock}}</b>
                        </ng-template>
                  </div>
              
                <ng-template #notShowPlus>
                  <button class="btn btn-success btn-xs plus" (click)="add(list.Id)" disabled><i class="glyphicon glyphicon-plus"></i></button>
                  <div *ngIf="list.RealQty < list.Stock  else notShowStock">
                      <b style="color:red;"> {{list.Stock}}</b>
                    </div>
                  <ng-template #notShowStock>
                      <b > {{list.Stock}}</b>
                    </ng-template>
                </ng-template>
                </td>
                <td>
                <div *ngIf="limitDel(  list.Stock  )  else notShowMinus">
                    <button class="btn btn-danger btn-xs minus" (click)="del(list.Id)"><i class="glyphicon glyphicon-minus"></i></button>
                  </div>
  
                  <ng-template #notShowMinus>
                    <button class="btn btn-danger btn-xs minus" (click)="del(list.Id)" disabled><i class="glyphicon glyphicon-minus"></i></button>
                  </ng-template>
              </td>

              <td [ngClass]="{'justify-content-end': true, 'text-center': true }">
                
                  <div *ngIf="list.Quantity < 0  else notShowQuantity">
                      <b style="color:red;"> {{list.Quantity}}</b>
                    </div>
                
                  <ng-template #notShowQuantity>
                    <b> {{list.Quantity}}</b>
                  </ng-template>
              </td>
              <td>
                <button class="btn btn-primary btn-sm" (click)="getpopup(list)">View</button> &nbsp;
                <button class="btn btn-danger btn-sm" (click)="delpopup(list.Id)">Delete</button>
              </td>
            </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>Total Price</td>
            <td colspan="6" class="text-right"><b>{{ total | currency }}</b></td>
          </tr>
        </tfoot>
      </table>

     

      <div *ngIf="loged; else loggedOut"> 
          <div  *ngIf="messageActive() else oktemplate">
              <h3 class="card-text" style="color: red;">This Seller can not satisfy this order <i class="fa fa-ban" aria-hidden="true"></i></h3>
              <button class="btn btn-danger btn-lg btn-block" >Please check your products</button>
            </div>

          <ng-template #oktemplate>
             
          </ng-template>

          <button class="btn btn-success btn-lg btn-block" (click)="getpopupPay(payment)">Pay</button>
       </div>

  <ng-template #loggedOut>
      <!-- <form action="{{serverUrl}}/Account/login" method="GET" (validSubmit)="onSubmit(editdetails.Id)"> -->
        <!-- <button class="btn btn-primary btn-sm form-control" routerLink="{{serverUrl}}/Account/login" type="submit">Please login</button> -->

        <a class="btn btn-primary btn-sm form-control" href= "/login">Please login</a>
      <!-- </form> -->
  </ng-template>

  <app-productdetails [list] = "selectedProduct"></app-productdetails>
  <app-payment [modal] = "payModal"></app-payment>

