      <div class="row">
          <div class="col-sm-6" *ngFor="let list of allProducts  | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
              <div *ngIf="list !== undefined" class="card" style="width: 50rem;">
                <div class="div-images">
                  <img  src="data:image/png;base64,{{list.ImageUrl}}" class="img-thumbnail" />
                </div>
                  <div class="card-body">
                    <h5 class="card-title"><h4>{{list.Name}} - {{list.Id}} ( {{list.Category}} )</h4></h5>
                    <p class="card-text">{{list.Price | currency}}</p>
                    <div *ngIf="stock(list.Id)  else notShow">
                      <p class="card-text" style="color: green;"> Available <i class="fa fa-check-circle-o" aria-hidden="true"></i></p>
                    </div>

                    <ng-template #notShow>
                      <p class="card-text" style="color: red;">Unavailable <i class="fa fa-times-circle-o" aria-hidden="true"></i></p>
                    </ng-template>
                    
                    <button class="btn btn-primary btn-sm form-control"  routerLink="/{{list.Id}}">View info</button>
                    <br><br>

                    

                    <div *ngIf="stock(list.Id)  else notShowInput">
                      <button class="btn btn-success btn-sm form-control" (click)="newMessage($event)" value="{{list.Id}}">Add to Cart</button>
                    </div>

                    <ng-template #notShowInput>
                      <button class="btn btn-success btn-sm form-control" value="{{list.Id}}" disabled>Add to Cart</button>
                    </ng-template>

                    <hr> <br> <br>
                  </div>
                </div>
          </div>
      </div>

      <pagination-controls (pageChange)="p = $event"></pagination-controls>


  <app-productdetails [list] = "selectedProduct"></app-productdetails>

