<div id="productinfoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content" *ngIf="fulldetails">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{fulldetails.Name}}</h4>
        </div>
        <div class="modal-body">
          <div  class="modal-image"><img src="data:image/png;base64,{{fulldetails.ImageUrl}}" class="img-thumbnail"/></div>
          <p>{{fulldetails.Details}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>