  <!-- Edit Modal HTML -->
	<div id="editModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
            <div *ngIf="editdetails !== undefined">
                <form action="{{serverUrl}}/Products/edit" method="POST" [formGroup]="formGroup" (validSubmit)="onSubmit(editdetails.Id)">
                  <div class="modal-header">						
                    <h4 class="modal-title">Edit Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  </div>
                  <div class="modal-body">			
                    <div class="form-group" hidden>
                        <label>Id</label>
                        <input type="text" class="form-control" value="{{editdetails.Id}}" name="Id" formControlName="Id" >
                      </div>		
                    <div class="form-group">
                      <label class="control-label">Name</label>
                      <input type="text" class="form-control" value="{{editdetails.Name}}" name="Name" formControlName="Name" required>
                      <span style="color: red;">	<bfv-messages></bfv-messages></span>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Price</label>
                      <input type="number" min="0" class="form-control" value="{{editdetails.Price}}" name="Price" formControlName="Price" required>
                      <span style="color: red;">	<bfv-messages></bfv-messages></span>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Details</label>
                      <textarea class="form-control" value="{{editdetails.Details}}" name="Details" formControlName="Details" required></textarea>
                      <span style="color: red;">	<bfv-messages></bfv-messages></span>
                    </div>
                    	
                    <div class="form-group">
                        <label class="control-label">Stock</label>
                        <input type="number" min="0" class="form-control" value="{{editdetails.Stock}}" name="Stock" formControlName="Stock"  required>
                        <span style="color: red;">	<bfv-messages></bfv-messages></span>
                    </div>	
                   
                      <div class="form-group">
                        <label>Category</label>
                        <select class="form-control" name="Category" value="{{editdetails.Category}}" formControlName="Category" required>
                            <option value="electronics">Electronics</option>
                            <option value="home">Home</option>
                            <option value="accesories">Accesories</option>
                        </select>
                    </div>

                   
                  	<!-- Imagen upload -->
					<div class="form-group">
						<div class="btn btn-success form-control">
								<label class="fileContainer"> {{nameFile}}
								<input type="file" id="validateCustomFile" accept="image/*" (change)="selectedFile($event)">
							</label>
						</div>
				</div>

				<div class="form-group">
					<button class="btn btn-success form-control" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
				</div>

        <!-- Progress bar -->
				<div class="progress">
						<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" attr.arial-valuenow="test" arial-valuemn="0" arial-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
							{{progress.percentage}}%
						</div>
				</div>

				<!-- Input with the name of image -->
        <div class="form-group">
            <label class="control-label">ImageUrl</label>
            <input type="text" class="form-control" name="ImageUrl" value="{{editdetails.ImageUrl}}" formControlName="ImageUrl" required>
        </div>

        
                  </div>
                  <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-info" value="Save">
                  </div>
                </form>
              </div>
         
        </div>
      </div>
    </div>