<div class="back">
    <a href="/">< Back</a>
  </div>
  <hr>
    <div *ngIf="product !== undefined" class="container">
    <div class="row">
         <div class="col-xs-4 item-photo">
            <img src="data:image/png;base64,{{product.ImageUrl}}" class="img-thumbnail" style="max-width:100%;"/>
          </div>
          <div class="col-xs-5" style="border:0px solid gray">
              <!-- Datos del vendedor y titulo del producto -->
              <h3>{{product.Name}} - {{product.Id}}</h3>    
              <h5 style="color:#337ab7">Category - <a (click)="onSearch(product.Category)">{{product.Category}}</a></h5>
  
              <!-- Precios -->
              <h6 class="title-price"><small>Price</small></h6>
              <h3 style="margin-top:0px;">{{product.Price | currency}}</h3>
  
              <!-- Detalles especificos del producto -->
              <div class="section">
                  <h6 class="title-attr" style="margin-top:15px;" ><small>COLOR</small></h6>                    
                  <div>
                      <div class="attr" style="width:25px;background:#5a5a5a;"></div>
                      <div class="attr" style="width:25px;background:white;"></div>
                  </div>
              </div>  
              <div class="section" style="padding-bottom:20px;">
                  <h6 class="title-attr"><small>Quantity</small></h6>                    
                  <div>
                      <input type="number" max="{{totalCanAdd}}" min = "1" value="1" #qty/>
                      <small> &nbsp; maximum quantity  <b style="color:red;">{{totalCanAdd}}</b>  </small>
                  </div>
              </div>                
  
              <!-- Botones de compra -->
              <div *ngIf="stock(totalCanAdd)  else notShowInput">
                  <button class="btn btn-success" (click)="newMessage( $event , qty )" value="{{product.Id}}"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</button>
                </div>

                <ng-template #notShowInput>
                   <button class="btn btn-success" value="{{product.Id}}" disabled><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</button>
                </ng-template>
          </div>                              
  
          <div class="col-xs-9">
              <ul class="menu-items">
                  <li>Product Details</li>
              </ul>
              <div style="width:100%;border-top:1px solid silver">
                  <p style="padding:15px;">
                      <small>
                        {{product.Details}}
                      </small>
                  </p>
                
              </div>
          </div>		
      </div>
  </div>      
  
  <script>
   $(document).ready(function(){
            //-- Click on detail
            $("ul.menu-items > li").on("click",function(){
                $("ul.menu-items > li").removeClass("active");
                $(this).addClass("active");
            })

            $(".attr,.attr2").on("click",function(){
                var clase = $(this).attr("class");

                $("." + clase).removeClass("active");
                $(this).addClass("active");
            })

            //-- Click on QUANTITY
            $(".btn-minus").on("click",function(){
                var now = $(".section > div > input").val();
                if ($.isNumeric(now)){
                    if (parseInt(now) -1 > 0){ now--;}
                    $(".section > div > input").val(now);
                }else{
                    $(".section > div > input").val("1");
                }
            })            
            $(".btn-plus").on("click",function(){
                var now = $(".section > div > input").val();
                if ($.isNumeric(now)){
                    $(".section > div > input").val(parseInt(now)+1);
                }else{
                    $(".section > div > input").val("1");
                }
            })                        
        }) </script>

