<!-- Delete Modal HTML -->
<div id="removeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
					<div *ngIf="removedetails !== undefined">
							<form  action="{{serverUrl}}/Products/remove/{{removedetails.Id}}" method="GET">
								<div class="modal-header">						
									<h4 class="modal-title">Delete Product</h4>
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								</div>
								<div class="modal-body">					
									<p>Are you sure you want to delete these Records?</p>
									<p class="text-warning"><small>This action cannot be undone.</small></p>
								</div>
								<div class="modal-footer">
									<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
									<input type="submit" class="btn btn-danger"  value="Delete" (click)="onSubmit(removedetails.Id)">
								</div>
							</form>
					</div>
				
			</div>
		</div>
    </div>