﻿@model SS.Mvc.Template1.ViewModels.LoginViewModel
@{
	ViewBag.Title = Resources.LogIn;
}

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="container-bordered">
				@using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
				{
					@Html.AntiForgeryToken()
					<h2>@ViewBag.Title</h2>
					<hr />
					@Html.ValidationSummary(true, "", new { @class = "text-danger no-align" })
					<div class="form-group">
						@Html.LabelFor(m => m.UserName, new { @class = "col-md-4 control-label" })
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
								@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
							</div>
							@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
								@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
							</div>
							@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
							<div class="checkbox">
								<label>
									@Html.CheckBoxFor(m => m.RememberMe)
									Remember me
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-4 col-md-8">
							<button type="submit" class="btn btn-primary btn-lg">@Resources.LogIn</button>
							@Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { @class = "pull-right" })
						</div>
					</div>
					<div class="text-center">
						<span class="text-muted">Version @SS.Mvc.Template1.MvcApplication.AppVersion</span>
					</div>
				}
			</div>
		</div>
	</div>
</div>

@section scripts {
	@{ Html.RenderPartial("_ValidationScripts"); }
}