﻿@using SS.Mvc.Template1
@{
	ViewBag.Title = Resources.Home;
}
@section styles {
	
}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="@Url.Content("~/")">@Resources.ApplicationName</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav" ui-state-nav>
				<li ui-sref-active="active"><a ui-sref="home" data-translate="home.TITLE"></a></li>
				<li ui-sref-active="active"><a ui-sref="dashboard" data-translate="dashboard.TITLE"></a></li>
			</ul>

			@if (User.Identity.IsAuthenticated)
			{
				<ul class="nav pull-right">
					@*<li><span>@User.Identity.Name</span></li>*@
					<li><a href="@Url.Action("LogOff", "Account")"><i class="icon-signout"></i>&nbsp;@Resources.LogOut</a></li>
				</ul>
			}
		</div>
		<!--/.nav-collapse -->
	</div>
</div>

<div class="container">
	<div ng-show="ajaxInProgress" class="loading-overlay">
		<img alt="Loading..." src="@Url.Content("~/Content/images/ajax-loader3.gif")" />
	</div>
	<div ui-view></div>
</div>

<footer>
	<div class="container">
		<p>@DateTime.Today.Year Sonora Software</p>
	</div>
</footer>

@section scripts {
	<script>
		var virtualPath = '@this.AppVirtualPath()';
	</script>
	
	<script src="~/Scripts/vendor/pace-js/pace.min.js"></script>
	<script src="~/Scripts/vendor/moment/min/moment.min.js"></script>
	<script src="~/Scripts/vendor/messageformat/messageformat.min.js"></script>
	
	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/bundles/app")

	<script>
		angular.module("app")
			.constant("appRequires", @Html.Raw(BundleConfig.Lazy));
		$(function () {
			var $body = $(document.body);
			angular.bootstrap($body, ["app"]);
		});
	</script>
}